
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Fonts */
    font-family: 'Poppins', sans-serif;
}
section
{
    padding: 100px;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(cereal.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: #000;
    font-weight: 500;
    line-height: 1.5em;
}