
/* ---------- Google Fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* ---------- Fonts ---------- */
    font-family: 'Poppins', sans-serif;
}
section
{
    padding: 100px;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(chicago.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.btn
{
    position: relative;
    background: #dda87d;
    display:  inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

/* ---------- Header ---------- */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
}
header.sticky
{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo
{
    color: #111;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky  ul li a
{
    color: #111;
}

/* ---------- About Me ---------- */
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
}
.heading h2
{
    font-size: 30px;
    font-weight: 600;
}
.content
{
    display: flex;
    justify-content: space-between;
}
.content
{
    padding-right: 30px;
}
.contentBx h3
{
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.w50
{
    min-width: 50%;
}
img
{
    max-width: 100%;
}

/* ---------- Experience ---------- */
.experience
{
    background: #111;
}
.heading.light
{
    color: #fff;
}
.experience .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.experience .content .experienceBx
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 500px;
    min-width: 300px;
    max-height: 1000px;
    min-height: 550px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.experience .content .experienceBx:hover
{
    background: #2196f3;
}
.experience .content .experienceBx img
{
    max-width: 175px;
}
.experience .content .experienceBx h2
{
    font-size: 30px;
    font-weight: 600;
}

/* ---------- Projects ---------- */
.project
{
    background: #fff;
}
.project .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.project .content .projectBx
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 500px;
    min-width: 300px;
    max-height: 1000px;
    min-height: 550px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.project .content .projectBx:hover
{
    background: #2196f3;
}
.project .content .projectBx img
{
    max-width: 175px;
}
.project .content .projectBx h2
{
    font-size: 30px;
    font-weight: 600;
}

/* ---------- Contact ---------- */
.contact
{
    background: #111;
}